body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100%;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
}


@font-face {
  font-family: 'KGBlank';
  src: local('KGBlank'), url(./assets/fonts/kgblankspacesolid-webfont.woff) format('woff'), url(./assets/fonts/KGBlankSpaceSolid.woff2) format('woff2'), url(./assets/fonts/kgblankspacesolid.ttf) format('ttf');
}

@font-face {
  font-family: 'Ebrima';
  src: local('Ebrima'), url(./assets/fonts/ebrimabd.woff) format('woff'), url(./assets/fonts/ebrimabd.woff2) format('woff2'), url(./assets/fonts/ebrimabd.ttf) format('ttf');
}
.container{
  max-width: 1200px;
  min-height:100vh;
  text-align: center;
  margin: auto;
  display:flex;
  align-items: center;
  background-color: #000000;
  justify-content: space-between;
  flex-direction: column;
}

.header{
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}
.footer{
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}
.bgstrip{
  background-image:url("./assets/lipalipa-strip.png");
  background-repeat: repeat-x;
  width: calc(100% - 40px);
}
.header.bgstrip{
  padding-top: 40px;
}
.footer.bgstrip{
  padding-bottom: 40px;
  background-position-y:bottom;
}

.centeredContent{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading{
  color:#FFFFFF;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex:1;
}

/*LAUNCH*/
.launchLogo{
  width: 400px;
  margin: 20px;
  margin-bottom:0;
  max-width: 80%;
}
.launchClick{
  color:#FFFFFF;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.launchClickImage{
  height:40px;
  width:40px;
  margin: 0 0 10px 10px;
  filter: invert(97%) sepia(50%) saturate(13%) hue-rotate(21deg) brightness(104%) contrast(102%);
}

/*HOME*/
.homeContent{
      display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 10%;
}

.homeTile{
  width: 300px;
max-width: 30%;
margin: 20px;
border: none;
background: none;
padding: 0;
cursor: pointer;
}
.homeTileImage{
  border: 20px solid #831C19;
    border-radius: 50%;
    padding: 5px;
    background-color: #e1b631;
}
.homeIcon{
  width: calc(100% - 10px);
    height: auto;
    padding: 5px;
    border-radius: 50%;
    background-color: #000;
}
.homeTileText{
  text-align: center;
  color: #FFF;
  font-weight: bold;
  padding: 10px;
}

/*DICTIONARY*/
.dictionaryScreen{
  flex-direction: column;
  justify-content: flex-start;
}
.listItemHolder{
  width:calc(100% - 6px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FCF7E9;
  border: 3px solid #000000;
  border-bottom: 0px;
  margin:10px 0 0 0;
}
.listItemText{
  padding:10px;
  font-size:20px;
  font-weight: bold;
  flex-grow: 1;
  text-align: left;
  cursor: pointer;
}
.listItemAudio{
  padding: 10px;
  min-height: 40px;
}


/*AUDIO PLAYER*/
#root .rhap_container, .rhap_container *:focus{
  outline:none;
  box-shadow: none;
  background:none;
  padding: 0;
}
#root .rhap_main-controls-button{
    color:#831C19;
}


/*DHUKARR*/

.dhukarrScreen{align-items: flex-start; width: 1200px; }
.introHolder{ 
  background-image:url("./assets/dhukarr/intro_bg.png");
  background-repeat: no-repeat;
  background-color: #821C19;
  background-size: cover;
  padding-top: 170px;
}
.dhukarrScreen h1{ color: #FFF; font-family: 'KGBlank', Arial, sans-serif; font-size: 36px; font-weight: normal;}
.dhukarrScreen h2{color: #FFF; font-family: 'KGBlank', Arial, sans-serif; font-size: 20px; font-weight: normal;}
.dhukarrScreen h3{color: #FFF; font-family: 'Ebrima', Arial, sans-serif; font-size: 20px; font-weight: normal;}
.dhukarrScreen p{color: #FFF; font-family: 'Ebrima', Arial, sans-serif; font-size: 20px; font-weight: normal;}

.blob{padding:40px; margin:10px; background-size: contain; background-repeat: no-repeat; display:flex; justify-content: center; align-items: center;     background-position: center;}
.blobRow{display:flex; justify-content: space-evenly; align-items: center;}
.blobText{font-family: 'Ebrima', Arial, sans-serif; font-size: 16px; font-weight: normal;}
.blobBrown{color: #FFF;}
.blobOrange{color: #FFF;}
.blobYellow{color: #843c0c;}
.blobLight{color: #843c0c;}
.blobGrey{color: #efd32e;}

#intro1Holder{background-image:url("./assets/dhukarr/blobs_intro1.png"); width:135px; height:97px; position: relative; top: 50px;}
#intro2Holder{background-image:url("./assets/dhukarr/blobs_intro2.png"); width:130px; height:100px;}
#intro3Holder{background-image:url("./assets/dhukarr/blobs_intro3.png"); width:121px; height:104px;}
#intro4Holder{background-image:url("./assets/dhukarr/blobs_intro4.png"); width:97px; height:80px; position: relative; top: 50px;}
#intro5Holder{background-image:url("./assets/dhukarr/blobs_intro5.png"); width:150px; height:92px;}



.dhukarrScreen .padThin{ padding-left:50px; padding-right:50px;}
.dhukarrScreen .padThinner{ padding-left:100px; padding-right:100px;}
.dhukarrScreen .marginTop{margin-top:60px;}
.dhukarrScreen .paddingBottom{padding-bottom:60px;}

.audioTrigger{position: absolute; width:100%; display: flex; justify-content: center;}


/*ENTRY*/

.entryContent{
  width: 100%;
margin: 10px 0 0 0;
display: flex;
align-items: center;
background-color: #e1b631;
}
.entryContentHeader{
  flex:1;
  padding: 20px;
  font-weight: bold;
  text-align: left;

}
.entrySection{
  background-color: #FCF7E9;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex:4;
}
.entrySectionText{
  text-align: left;
  margin-right:20px;
word-break: break-word;
padding: 10px;
}
.entrySectionAudioIcon{
  width:40px;
  height: 40px;
  filter: invert(19%) sepia(35%) saturate(3376%) hue-rotate(339deg) brightness(94%) contrast(91%);
}

/*APP HEADER*/
.appHeader{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  background-color: #831C19;
  border-bottom: 5px solid #e1b631;
  min-height: 80px;
  position: fixed;
  top: 0;
}
.appHeader.bgstrip{
  padding-top: 30px;
}
.leftHeader, .rightHeader{
  cursor: pointer;
}
.rightHeader{display: flex; flex-direction: row;}
.appHeaderTitle{
  font-weight: bold;
  text-align: center;
  color:#FFFFFF;
  font-size: 20px;
}
.appHeaderImage{
  padding: 10px;
}
.appHeaderImageFloat{
  padding: 10px;
  position: absolute;
}
.appHeaderIcon{
  filter: invert(97%) sepia(50%) saturate(13%) hue-rotate(21deg) brightness(104%) contrast(102%);
  width: 30px;
}
.searchBar {
  width:100%
}
.searchIcon{
  /*filter: invert(87%) sepia(48%) saturate(1393%) hue-rotate(329deg) brightness(91%) contrast(93%);*/
  width: 30px;
}

.contentContainer{margin-top: 110px; width: 100%; max-width: 1200px;}
.textContainer p, .textContainer h1, .textContainer h3, .textContainer h2, .textContainer li {color:#FFF; text-align: left; padding: 5px 10px;}
/*ITEM NAV*/
.itemNavHolder {
  display:flex;
  justify-content: center;
  padding-left: 25px;
}
.itemNav{
  cursor: pointer;
}
.itemNavBall{
  width:40px;
  height:40px;
  background-color: #FFFFFF66;
  border-radius: 50%;
  margin: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.itemNavBallFilled{
  background-color: #e1b631;;
}

#root input{
  border-width: 1px;
    border-radius: 5px;
    margin: 10px 0 0 0;
    padding: 20px 10px;
    width: calc(100% - 40px);
    background-color: #FCF7E9;
    font-size: 16px;
}

.noBorder{border:none}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 10px;
}

.switchLabel{color: #FFFFFF;    display: flex;
  align-items: center;
  margin-right: 10px;}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9D726E;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FEC34D;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FEC34D;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.largerFont{
  font-size: 4vh;
}


@media only screen and (max-width: 768px) {
  .entrySection{
      flex:2
  }

}

@media only screen and (max-width: 480px) {
  .homeTileImage {
    border-width: 10px;
  }
  .entryContent{
      flex-direction: column;
  }
  .entrySection{
      width: calc(100% - 40px);
  }

}
