body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100%;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
}

h2{
  padding:10px 20px;
  margin:0;
  background-color: #e1b631;
  text-align: left;
  font-size:14px;
}

.container{
  max-width: 600px;
  min-height:100vh;
  text-align: center;
  margin: auto;
  display:flex;
  align-items: center;
  background-color: #000000;
}

.loading{
  color:#FFFFFF;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex:1;
}

/*LAUNCH*/
.launchLogo{
  width: 300px;
  margin: 20px;
  margin-bottom:0;
  max-width: 80%;
}
.launchScreen{
  justify-content: center;
  flex-direction: column;
}
.launchTitle{
  color:#FFFFFF;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.launchClick{
  height:40px;
  width:40px;
  margin: 0 0 10px 10px;
  filter: invert(97%) sepia(50%) saturate(13%) hue-rotate(21deg) brightness(104%) contrast(102%);
}

/*HOME*/
.homeScreen{
flex-wrap: wrap;
justify-content: center;
}

.homeTile{
  width: 33%;
  margin: 10px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
.homeTileImage{
  padding: 20px;
  background-color: #FFF;
  border-bottom: 3px solid #000000;
  border-radius: 50px 50px 0 0;
}
.homeIcon{
  width: 100%;
}
.homeTileText{
  text-align: center;
  background-color: #8b2b25;
  color: #FFF;
  font-weight: bold;
  padding: 10px;
  border-top: 10px solid #e1b631;
  border-radius: 0 0 50px 50px;
}

/*DICTIONARY*/
.dictionaryScreen{
  flex-direction: column;
}
.listItemHolder{
  width:calc(100% - 6px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  border: 3px solid #000000;
  border-bottom: 0px;
  margin:10px 0 0 0;
}
.listItemText{
  padding:10px;
  font-size:20px;
  font-weight: bold;
  flex-grow: 1;
  text-align: left;
  cursor: pointer;
}
.listItemAudio{
  padding: 10px;
  min-height: 40px;
}


/*AUDIO PLAYER*/
#root .rhap_container, .rhap_container *:focus{
  outline:none;
  box-shadow: none;
  background:none;
  padding: 0;
}
#root .rhap_main-controls-button{
    color:#8b2b25;
}


/*ENTRY*/

.entryContent{
  width:calc(100% - 6px);
  margin:10px 0;
}
.entrySection{
  background-color: #FFFFFF;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.entrySectionText{
  text-align: left;
  margin-right:20px;

}
.entrySectionAudioIcon{
  width:40px;
  height: 40px;
  filter: invert(19%) sepia(35%) saturate(3376%) hue-rotate(339deg) brightness(94%) contrast(91%);
}

/*APP HEADER*/
.appHeader{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: #8b2b25;
  border-bottom: 10px solid #e1b631;
}
.leftHeader, .rightHeader{
  filter: invert(97%) sepia(50%) saturate(13%) hue-rotate(21deg) brightness(104%) contrast(102%);
  cursor: pointer;
}
.appHeaderTitle{
  font-weight: bold;
  text-align: center;
  color:#FFFFFF;
  font-size: 20px;
}
.rightHeader{

}
.appHeaderImage{
  padding: 20px;
}
.appHeaderIcon{
  width: 40px;
}
.searchBar {
  width:100%
}

/*ITEM NAV*/
.itemNavHolder {
  width:100%;
  display:flex;
  justify-content: center;
}
.itemNav{
  cursor: pointer;
}
.itemNavBall{
  width:40px;
  height:40px;
  background-color: #FFFFFF66;
  border-radius: 50%;
  margin: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.itemNavBallFilled{
  background-color: #FFFFFF;
}

#root input{
  border-color:#cec6b8;
  border-width:1px;
  border-radius:5px;
  margin: 10px 0;
  padding:20px 10px;
  width:80%;
  background-color: #cec6b8
}
